body{
    background-image: url(../img/12.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(204, 204, 204);
    
}
.bg_gray{
    background-color: rgba(58, 58, 58, 0.253);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(63, 65, 66);
}
.nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: alicrgb(63, 65, 66);
}
.navbar-light .navbar-brand {
    color: rgb(63, 65, 66);
}
.nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(110, 99, 124);
}
.contact ul{
    list-style: none;
    padding-left: 0;
}
.contact ul li{
    display: inline-block;
    font-size: 30px;
    /*padding: 0 20px;*/
}
.contact ul li a{
    color: azure;
}
.contact ul li a:hover{
    color: rgb(180, 180, 231);

}
h1 {
    font-family: 'Yu Gothic', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  }
  .cd-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cd-section--bg-fixed {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
